<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- To collect end-user usage analytics about your application, insert the following script into each page you want to track.
         Place this code immediately before the closing </head> tag, and before any other scripts. Your first data will appear
         automatically in just a few seconds. -->
    <script type="text/javascript"> var appInsights=window.appInsights||function(a){ function b(a){c[a]=function(){var b=arguments;c.queue.push(function(){c[a].apply(c,b)})}}var c={config:a},d=document,e=window;setTimeout(function(){var b=d.createElement("script");b.src=a.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js",d.getElementsByTagName("script")[0].parentNode.appendChild(b)});try{c.cookie=d.cookie}catch(a){}c.queue=[];for(var f=["Event","Exception","Metric","PageView","Trace","Dependency"];f.length;)b("track"+f.pop());if(b("setAuthenticatedUserContext"),b("clearAuthenticatedUserContext"),b("startTrackEvent"),b("stopTrackEvent"),b("startTrackPage"),b("stopTrackPage"),b("flush"),!a.disableExceptionTracking){f="onerror",b("_"+f);var g=e[f];e[f]=function(a,b,d,e,h){var i=g&&g(a,b,d,e,h);return!0!==i&&c["_"+f](a,b,d,e,h),i}}return c }({ instrumentationKey:"f8b98515-3a41-4ace-8194-9adc05074666" }); window.appInsights=appInsights,appInsights.queue&&0===appInsights.queue.length&&appInsights.trackPageView(); </script>
</head>
<body>
    <partial name="_ValidationScriptsPartial" />
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                Source code: <a href="https://github.com/chopeen/last-fm-not-mine-alert-web">chopeen / last-fm-not-mine-alert-web</a> | 
                Razor template: <a href="https://github.com/chopeen/minimal-razor">chopeen / minimal-razor</a>
            </p>
        </footer>
    </div>

    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
