@page
@model IndexModel
@{
    ViewData["Title"] = "last-fm-not-mine-alert-web";
}
<h2>@ViewData["Title"]</h2>

<p>
    @using(Html.BeginForm())
    {
        @Html.Label("Enter artist name:")
        @Html.TextBoxFor(model => model.ArtistName)
        @Html.ValidationMessageFor(model => model.ArtistName)
        <input type="submit" value="Add new artist" />
    }
</p>
